*.iml
*local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
.gradle/
gradle/wrapper/gradle-wrapper.jar
*.user
*.externalNativeBuild*
*/build/*
build/
*.jks
secrets.properties
*.log
app/release/
**/*.apk
**/output-metadata.json

.idea/libraries/

.idea/workspace.xml

.idea/modules.xml

/feature-auth/build/*
/feature-auth-api/build/*
/feature-main-profile/build/*
/feature-main-profile-api/build/*
/feature-user-profile/build/*
/feature-user-profile-api/build/*
/service-network/build/*